// font-family: 'Itim', cursive;
// font-family: 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #25252d;
   
}

.container {
    width: 1870px;
    margin: 0 auto;
}
header {
    background:  #20202a;
    .container {
        padding-top: 10px;
        padding-bottom: 15px;
    }
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    font-family: 'Itim', cursive;
    font-size: 30px;
    color: #97c628;
    cursor: pointer;
    transition: all ease 1s;
    margin-top: 8px;
    letter-spacing: 0.2em;
}
.logo:hover {
    color: #abe621;
    
}
.nav {
    list-style-type: none;
    display: flex;
    margin-top: 18px;
    >li{
        margin-right: 30px;
        font-size: 16px;
        >a {
            text-decoration: none;
            color: #d1d1dd;
            transition: all 0.4s;
        }
        >a:hover {
            color: #fff;
        }
    }
}
.buttons{
    .btn {
        text-decoration: none;
        color: #020229 ;
        padding: 18px;
        background: #97c628;
        font-weight: 600;
    }
    .btn:hover {
        background: #abe621;
        border-radius: 5px ;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5)
    }
    >.search {
        outline: none;
        padding: 18px;
        background: #25252d;
        border: none;
        font-size: 16px;
        color:#d1d1dd ;
        margin-right: 20px;
    }
    >.search::placeholder {
        color:#b2b2bd;
    }
}
#home {
    >.container {
        height: 90vh;
        >p {
            color:#d1d1dd ;
            font-size: 19px;
            width: 400px;
            line-height: 1.5em;
            margin-top: 12px;
        }
        >.video_text {
            position: absolute;
            left: 600px;
            top: 340px;
             >h1 {
            
            color: #fff;
            font-size: 61px;
            text-transform: uppercase;
            width: 350px;
            padding: 30px;
            border: 6px solid #fff;
            cursor: pointer;
            transition: all 0.5s;
            >span {
                font-size: 35px;
                
                position: relative;
                top: -10px;
                right: 10px;
            }
        }
        h1:hover {
            background: #97c628;
        }
        input {
            margin-top: 20px;
            width: 100%;
            padding: 20px 10px;
            outline: none;
            border: 3px solid ;
            font-size: 17px;
            color: #25252d;
        }
        input::placeholder {
            font-size: 17px;
        }
        }
       
    }
}
.next {
    position: relative;
    top: -63px;
    left: 85%;
    width: 50px;
    height: 60px;
    background: #25252d;
    text-align: center;
    cursor: pointer;
}
#next {
    margin-top: 10px;
    
    
    
}

.home_h1 {
    font-size: 40px;
    color:#25252d ;
    margin-left:40vw ;
    text-transform: uppercase;
    >span {
        position: relative;
        color: #25252d;
    }
    >span::after {
        content: "";
        position: absolute;
        width: 1px;
        right: -5px;
        height: 100%;
        border-right: 2px solid #25252d;
        animation: blink 0.5s infinite ease;
    }
}
.video {
    position: absolute;
    z-index: 0;
    min-height: 90vh;
   
   
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.next_sec {
    position: absolute;
    left: 1700px;
    top: -10px;
    margin-right: 140px;
    margin-top: 400px;
    text-align: center;
    >a {
        position: relative;
        right: 50px;
        top: -10px;
       
        text-decoration: none;
        text-align: center;

        font-size: 30px;
        color: #d1d1dd;
        font-weight: 700;
        line-height: 1.5em;
        animation: but 3s infinite;
    }
    >a:hover {
        color: #97c628;

    }
    >.arrows {
        display: flex;
        flex-direction: column;
        
        >.arr {
            position: relative;
            left: 30px;
            animation: down 3s infinite ;
        }
    }
}

.navigation {
    padding: 20px 0;
    background: #20202a;
    position: fixed;
    z-index: 999;
    left: 140px;
    top: 0px;
    >.nav {
        margin: 0 auto;
        margin-left: 7vw;
        >li {
            margin-right: 140px;
            
        }
    }
}
#navi {
    display: none;
}
.initiative {
    
    >.container{
        background: rgb(235, 235, 243);
        margin-top: 20px;
        padding-top: 30px;
        padding-bottom:50px;
       
        >p{
            text-align: center;
            margin-top: 15px;
            font-size: 25px;
            margin-bottom: 50px;
        }
        >.learn {
            text-align: center;
            >a {
                text-decoration: none;
                color: #97c628;
                text-transform: uppercase;
                padding: 20px 20px;
                background: #F5F5F5;
                transition: all 0.3s;
            }
            >a:hover{
                color:#20202a ;
                background: #d8caca;
            }
        }
    }
    
}
.animals {
    >.container{
        background: #fff;
        padding-top: 50px;
    padding-bottom: 70px;


        >h1 {
            font-size: 16px;
            text-align: center;
            color:#25252d;
        }
        >p {
            font-size: 40px;
            text-align: center;
            color: #97c628;
            margin-bottom: 30px;
        }
        >ul {
            width: 1225px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 40px;
            >li:nth-last-child(1){
                width: 600px;
            }
            >li:nth-last-child(2){
                width: 600px;
            }
            >li {
                width: 398.25px;
                height: 395px;
                list-style: none;
                margin: 2.5px;
            }
            
        }
        >hr {
            border: 2px solid #97c628;
            width: 500px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        .animal_info {
            text-align: center;
            >h1{
                color: #25252d;
                font-size: 51px;
            }
            >p {
                width: 800px;
                margin: 0 auto;
                margin-top: 20px;
                padding-bottom: 50px;
                line-height: 1.7em;
            }
            >a {
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                padding: 20px 20px;
                background: #25252d;
                transition: all 0.3s;
                font-weight: 600;
                
            }
            >a:hover {
                background: rgb(235, 235, 243);
                color:#25252d;
            }
        }
    }
}

.block {
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #20202a;
    opacity: 0.5;
   
}
.text_animals {
    position: relative;
    z-index: 999;
    top: -300px;
    text-align: center;
    >p {
        opacity: 1;
        color:#fff;
        font-size: 20px;
        margin-bottom: 100px;
        height: 60px;
    }
    >h1 {
        color:#97c628;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    >svg {
        cursor: pointer;
    }
}


.countries {
    >.container{
        padding-bottom: 30px;
        padding-top: 30px;
        >ul{
            display: flex;
            justify-content: space-between;
            >li{

                list-style-type: none;
                width: 371px;
                height: 560px;
                text-transform: uppercase;
                color: #fff;
                font-weight: 600;
                text-align: center;
                padding-top: 500px;
                font-size: 30px;
                opacity: .6;
                transition: all 0.5s;
                cursor: pointer;
            }
            >li:hover {
                opacity: 1;
            }
        }
    }

}

.news {
    >.container{
         background: #fff;
         padding-bottom: 70px;
         >h1 {
            padding-top: 30px;
            font-size: 16px;
            text-align: center;
            color:#25252d;
        }
        >p {
            font-size: 40px;
            text-align: center;
            color: #97c628;
            margin-bottom: 30px;
        }
        >ul{
            list-style: none;
            display: flex;
            margin-left: 17vw;
            >li{
                width: 400px;
                height: 500px;
                background: red;
                margin-right: 10px;
                cursor: pointer;
                transition: all 0.5s;
            }
            >li:hover{
                opacity: 0.8;
            }
            >li:nth-child(3) {
                background: #4267B2;
                text-transform: uppercase;
                >p {
                    position: relative;
                    left: 80px;
                    top: 140px;
                    font-weight: 600;
                    color: #fff;
                }
            }
            >li:nth-child(2) {
                background: #1DA1F2;
                >p {
                    position: relative;
                    left: 70px;
                    top: 178px;
                    font-weight: 600;
                    color: #fff;
                text-transform: uppercase;
                    width: 70%;
                    text-align: center;
                }
            }
            >li:nth-child(1){
                background: #97c628;;
                >.main{
                    >.circles{
                        display: flex;
                        margin-left: 175px;
                        >.circle{
                            margin-top: 50px;
                            width: 12px;
                            height: 12px;
                            background: #fff;
                            border-radius: 100%;
                            margin-right: 5px;
                        }
                    }
                    >p {
                        color: #fff;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 13px;
                        margin-top: 30px;
                    }
                    >h1 {
                        margin-top: 10px;
                        color: #fff;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.footer {
    padding-bottom: 100px;
    >.container{
        background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2015/06/tiger_cta.jpg');
        background-position: center;
    background-size: cover;

        padding-bottom: 200px;
        >.footer_container {
            padding-top: 200px;
            >h1 {
                width: 400px;
                margin:  0 auto;
                text-transform: uppercase;
                font-size: 70px;
                padding: 10px;
                border: 5px solid #fff;
                color: #fff;
                text-align: center;
                
            }
            input {
                position: relative;
                left: 735px;
                margin-top: 20px;
                width: 400px;
                padding: 21px 10px;
                outline: none;
                border: 3px solid ;
                font-size: 17px;
                color: #25252d;
            }
            input::placeholder {
                font-size: 17px;
            }
            .next {
                left: 1085px;
                top: -65px;
                height: 63px;
            }
            >p {
                text-transform: uppercase;
                font-size: 17px;
                color: #fff;
                font-weight: 600;
                text-align: center;
                position: relative;
                top: -30px;
            }
            >a {
                text-transform: uppercase;
                text-decoration: none;
                color: #25252d;
                padding: 25px 80px;
                background: #97c628;
                font-weight: 600;
                font-size: 20px;
                position: relative;
                left: 755px;
                top: 20px;
                width: 400px;
                transition: all 0.5s;
            }
            >a:hover {
                background: #a7e41a;

            }
            >ul {
                list-style: none;
                display: flex;
                position: relative;
                left: 530px;
                top: 260px;
                width: max-content;
                >li{
                    color: #fff;
                    font-size: 17px;
                    margin-right: 20px;
                    >a {
                        text-decoration: none;
                        color: #d1d1dd;
                        transition: all 0.4s;
                        font-size: 16px;
                    }
                    >a:hover {
                        color: #fff;
                    }
                       
                   
                }
                >li:nth-child(4) {
                    font-family: 'Itim', cursive;
                    font-size: 30px;
                    color: #97c628;
                    cursor: pointer;
                    transition: all ease 1s;
                    
                    letter-spacing: 0.2em;
                }
            }
        }

        
    }
}
footer {
    padding-bottom: 70px;
    >.sm {
        >ul {
            list-style: none;
            display: flex;
            width: 350px;
            justify-content: space-between;
            margin: 0 auto;
            cursor: pointer;
            li{
                width: 100px;
                height: 100px;
                background: #25252d;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                border-radius: 100%;
                text-align: center;
                padding-top: 20px;
                transition: all 0.5s;
            }
            li:hover {
                transform: scale(1.3);
            }
           
        }
    }
}
#face {
    position: relative;
    left: 170px;
    top: 120px;
}
#twit {
    position: relative;
    left: 170px;
    top: 140px;

}
#hawaii {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2016/06/hawaii_thumb.jpg');
    background-size: cover;
}

#was {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2016/06/washington_thumb.jpg');
    background-size: cover;

}

#oregon {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2016/06/oregon_thumb.jpg');
    background-size: cover;

}

#new {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2016/06/newyork_thumb.jpg');
    background-size: cover;

}

#california {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2016/06/california_thumb.jpg');
    background-size: cover;

}
#elephants {
   background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2015/06/elephant_thumb1.jpg');
   background-size: cover;
}

#rhinos {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2015/06/rhino_thumb1.jpg');
    background-size: cover;
}

#lions { 
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2015/06/lion_thumb1.jpg');
    background-size: cover;

}

#tigers {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2015/06/tiger_thumb1.jpg');
    background-size: cover;
}

#leopards {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2015/06/leopard_thumb1.jpg');
    background-size: cover;

}

#cheeatahs {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2015/06/cheetah_thumb1.jpg');
    background-size: cover;

}

#jaguars {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2016/06/jaguar_thumb.jpg');
    background-size: cover;

}

#pangolins {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2015/06/pangolin_thumb1.jpg');
    background-size: cover;

} 

#apes {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2016/06/greatapes_thumb.jpg');
    background-size: cover;

}

#sharks {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2015/06/shark_thumb1.jpg');
    background-size: cover;

}

#rays {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2015/06/ray_thumb1.jpg');
    background-size: cover;

}

#turtles {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2015/06/turtle_thumb1.jpg');
    background-size: cover;

}

#walruses {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2016/06/walrus_thumb.jpg');
    background-size: cover;

}

#narwhals {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2016/06/narwhal_thumb.jpg');
    background-size: cover;

}

#whales {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2016/06/whale_thumb.jpg');
    background-size: cover;

}

#hippo {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2016/06/hippo_thumb.jpg');
    background-size: cover;

}

#seals {
    background: url('https://saveanimalsfacingextinction.org/wp-content/uploads/2016/06/monkseal_thumb.jpg');
    background-size: cover;
}




@keyframes down {
    0% {
        top: 0;
        opacity: 1;
    }
    50% {
        top: 100px;
        opacity: 0.1;
        }
    100% {
        top: 0;
        opacity: 1;
    }
}
@keyframes but {
    0%{
        opacity: 1;
    }
    50% {
        
        opacity: 0.3;
        }
    100% {
        opacity: 1;
    }
}
